/*.headbtn{
	background: #1E73BE;
	color: white;
	border-radius: 16px;
	padding: 10px 20px 10px 20px;
	font-family: "Poppins", sans-serif;
}*/

/* Medium desktop view */
/*@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .sliderfs {
        font-size: 20px;
    }
}*/

/* Small desktop view */
/*@media (max-width: 992px) {
    body {
        font-size: 16px;
    }
    .sliderfs {
        font-size: 22px;
    }
}*/

body {
    font-size: clamp(14px, 2vw, 12px);
}

.bgtextslider{
    background: #3939395c;
    padding: 10px;
}
.mr14{
    margin-right: 14px!important;
}
.primarybluefilter{
    background: #1e73be!important;
    color: #ffffff!important;
}
.resetbluefilter{
    border:1px solid #1e73be!important;
    color: #1e73be!important;
}
.filterbuttonmb{
    width: 100%!important;
    text-align: center!important;
}
.headerlang{
    background-color: transparent;
    border-color: transparent;
    color: #424242!important;
}
.colorlang{
    color: #424242!important;
}
.circle{
    border-radius: 50%!important;
}
input.cross_search_btn{
    border: 1px solid rgb(200 200 200) !important;
    border-radius: 16px 0px 0px 16px !important;
}
.nowhitespace{
    white-space: nowrap;
}
.cross_info_icon{
   background: #1e73be;
   color: white!important;
   font-weight: bold;
   font-style: italic;
   font-size: 20px!important;
   padding: 5px 15px!important;
   border-radius: 0px 16px 16px 0px !important;
}
.crossref_popup{
    width: 50rem;
}
.eventinnercontainer{
/*    background: #faf9f9; */
    padding-top: 0%;
   /* padding-right: 6%;
    padding-left: 6%;*/
}
 .swiper-slide_event {
  display: flex !important;
  justify-content: center !important;
/*  align-items: center !important;*/
}
.btn-drop:hover {
    background-color: #3284bf !important;
    border-color: #3284bf !important;
    color: white!important;
    border-radius: 16px;
}
.dropdown-item.active, .dropdown-item .btn-drop:active {
    background-color: #3284bf !important;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    background-color: #3284bf !important;
    border-color: #3284bf !important;
     color: white!important;
     border-radius: 16px;
}
.btn-45 {
    height: auto!important;
    padding: 10px 25px;
}
li.navigation__item.active a{
    color: #1E73BE;
}
.showunderline a {
    text-decoration: underline;
}
.header_search{
	text-indent: 25px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
}
.header-design{
	background: white!important;
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid #BFBFBF;
}
.remove_cmp_icon{
/*    top: 12%;*/
    float: right;
    text-align: right;
}
.pdcmp{
    padding: 0px 15px 0px 0px;
}
.imgtopspace{
    height: 110px;
}
.cmp_img{
/*    height: 130px;*/
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cmp_img img{
/*    height: 100px;*/
    height:auto ;
}
.font-normal{
    font-weight:500!important;
}
.textgrey{
    color: #787878;
}
.banner-height{
    height: 550px;
}
.banner_data{
    margin-top: 8%!important;
    width: 500px;
    color: white;
    left: 5%!important;
}
.banner_data h2{
    font-size: 30px;
}
.banner_data p{
    font-size: 16px;
}
.greybg{
    /*background: rgba(250, 249, 249, 1);*/
    background: url('../images/greybg.png') no-repeat;
}
.team_img-wrapper{
  padding-top: 121.212122%;
}
.quotetext{
    font-size: 22px;
    color: rgba(66, 66, 66, 1);
    line-height: 40.2px;
}
.aboutcontent p {
    font-size: 16px;
}
.cardicon-abt{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 16px;
    min-height: 402px;
}
.no-min-hgt{
    min-height: auto!important;
}
.textminht{
    min-height: 50px;
}
.textminht_list{
    min-height: 50px;
}
.image-box__overlay {
  background: rgba(0, 0, 0, 0.5);

  z-index: 2;
}
.contfs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.pfs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-30{
    font-size: 30px;
}
.fs-38{
	font-size: 38px;
}
.sliderfs{
    font-size: 21px;
}
.why_p{
    font-size: 17px;
}
.eventtextfs{
    font-size: 14px!important;
}
.eventtextfs ul {
    padding-left: 0.5rem;
}
.eventScrolldiv {
    max-height: 175px; /* Set the maximum height for the scrollable area */
    overflow-y: auto;  /* Add a vertical scrollbar when the content overflows */
    padding-right: 15px; /* Optional: Add padding to the right to avoid content being hidden behind the scrollbar */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
}
.event-next, .event-prev{
    color: #b8b7b7!important;
    top: 40%;
}

:root {
    --swiper-navigation-size: 28px;
}

.header_search_inp::placeholder {
}
.search-field__input_header-wrapper {
  position: relative; }
 .search-field__input_header-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% + 2px ));
    transform: translateY(calc(-50% + 2px ));
    left: 1rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: transparent url("data:image/svg+xml,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url%28%23clip0_137_2221%29'%3e%3cpath d='M7.04606 0C3.16097 0 0 3.16097 0 7.04606C0 10.9314 3.16097 14.0921 7.04606 14.0921C10.9314 14.0921 14.0921 10.9314 14.0921 7.04606C14.0921 3.16097 10.9314 0 7.04606 0ZM7.04606 12.7913C3.87816 12.7913 1.30081 10.214 1.30081 7.04609C1.30081 3.87819 3.87816 1.30081 7.04606 1.30081C10.214 1.30081 12.7913 3.87816 12.7913 7.04606C12.7913 10.214 10.214 12.7913 7.04606 12.7913Z' fill='%23767676'/%3e%3cpath d='M15.8095 14.8897L12.0805 11.1607C11.8264 10.9066 11.4149 10.9066 11.1608 11.1607C10.9067 11.4146 10.9067 11.8265 11.1608 12.0804L14.8898 15.8094C15.0168 15.9364 15.1831 16 15.3496 16C15.5159 16 15.6824 15.9364 15.8095 15.8094C16.0636 15.5555 16.0636 15.1436 15.8095 14.8897Z' fill='%23767676'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_137_2221'%3e%3crect width='16' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/1rem auto no-repeat; }


 /*.search-field__input_header-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% + 2px ));
    transform: translateY(calc(-50% + 2px ));
    right: 1rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: transparent url("data:image/svg+xml,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url%28%23clip0_137_2221%29'%3e%3cpath d='M7.04606 0C3.16097 0 0 3.16097 0 7.04606C0 10.9314 3.16097 14.0921 7.04606 14.0921C10.9314 14.0921 14.0921 10.9314 14.0921 7.04606C14.0921 3.16097 10.9314 0 7.04606 0ZM7.04606 12.7913C3.87816 12.7913 1.30081 10.214 1.30081 7.04609C1.30081 3.87819 3.87816 1.30081 7.04606 1.30081C10.214 1.30081 12.7913 3.87816 12.7913 7.04606C12.7913 10.214 10.214 12.7913 7.04606 12.7913Z' fill='%23767676'/%3e%3cpath d='M15.8095 14.8897L12.0805 11.1607C11.8264 10.9066 11.4149 10.9066 11.1608 11.1607C10.9067 11.4146 10.9067 11.8265 11.1608 12.0804L14.8898 15.8094C15.0168 15.9364 15.1831 16 15.3496 16C15.5159 16 15.6824 15.9364 15.8095 15.8094C16.0636 15.5555 16.0636 15.1436 15.8095 14.8897Z' fill='%23767676'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_137_2221'%3e%3crect width='16' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/1rem auto no-repeat; }*/

.footer_logo{
	max-height: 120px;
}
.fasize{
	font-size: 20px!important;
    background: #464646;
    padding: 10px;
    border-radius: 50%;
}
.fs-icon-footer{
	font-size: 30px!important;
}
.footer-outerspace{
	padding-left: 80px;
	padding-right: 80px;
}
.no_footer_padding{
	padding:0px 10px;
}
.titlehighlight{
	color: #1E73BE;
}
.block1box{
	border: 1px solid #ECECEC;
	border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 0px 2px #ECECEC;
}
.block2box{
	border: 1px solid #ECECEC;
	border-radius: 0px 10px 0px 0px;
    box-shadow: 1px -1px 2px #ECECEC;
}
.block3box{
	border: 1px solid #ECECEC;
	border-radius: 0px 0px 0px 10px;
    box-shadow: -1px 2px 0px #ECECEC;
}
.block4box{
	border: 1px solid #ECECEC;
	border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 2px #ECECEC;
}
.abicon{
	height: 55px;
}
.pr-5{
	padding-right: 50px;
}
.black{
	color: black;
}
.primaryblue{
	color: #1E73BE;
}
.pl10{
	padding-left: 10px;
}
.hicon{
    height: 100px;
}
.whyicon{
    height: 70px;
}
.hticon{
    height: 80px;
}
.why_title{
    font-size: 16px;
}
.cardicon{
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 16px;
}
.imgclientslider{
    padding:25px;
}
.team_slider_div{
    width:65%;    
    margin: 0px auto;
}
.teamimg{
    height: 96%;
}
.searchbg{
/*    background-color: #000000;*/
/*    background-image: linear-gradient(147deg, #04619f 0%, #000000 74%);*/
    background: url('../images/searchbg.png');
    padding:35px 25px;
    border-radius: 16px;
}
.cutomsolbg{
    background-color: rgba(251, 251, 251, 1);
    padding:35px 25px;
    border-radius: 16px;
    font-size: 15px;
    color: rgba(120, 120, 120, 1);
    border: 1px solid rgba(179, 179, 179, 1);
}
.eventblock1{
    margin-right: 30px;
    width: 100%!important;
    display: block;
}
.eventimgdiv1{
    width: 40%;
    float: left;
}
.eventimgdiv2{
    width: 60%;
    float: left;
    padding: 0px 30px;
}
.filterscroll{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mr-0{
    margin-right: 0px!important;
}
.filterbtns{
    padding: 5px 24px!important;
}
.btn1grey{
    color: #9C9C9C;
}
.btn2grey{
    background: #9C9C9C;
}
.filter_title{
    font-family: "DM Sans", sans-serif;
    color: rgba(98, 98, 98, 1);
    font-weight: 500;
    font-size: 20px;
}
.accordion-button{
    border:1px solid rgba(222, 228, 235, 1)!important;
    background: rgba(242, 242, 242, 1);
    padding: 10px 18px !important;
    border-radius: 14px;
    color: #222222!important;
}
.accordion-button.collapsed{
    border: 1px solid rgba(200, 200, 200, 1) !important;
    padding: 10px 18px !important;
    border-radius: 14px!important;
}
/*.filtertab_inactive{
    border:1px solid rgba(222, 228, 235, 1);
    padding: 10px 18px !important;
    border-radius: 14px;
}
.filtertab{
    border:1px solid rgba(222, 228, 235, 1);
    background: rgba(242, 242, 242, 1);
    padding: 10px 18px !important;
    border-radius: 14px;
}*/
.product-container {
    max-width: 1340px!important;
    padding: 10px 50px;
}
.filtertab .accordion-button{
    background: rgba(242, 242, 242, 1);
    color: rgba(66, 66, 66, 1);
}
.justify-content-right{
    justify-content: right;
}
.justify-content-left{
    justify-content: left;
}
.cont_img{
    height: 25px;
}
.text-right{
    text-align: right;
}
.paddingl-5{
    padding-left: 30px!important;
}
.pr-2{
    padding-right: 20px;
}
.text-danger {
    color: #ff1400 !important;
}
.ctitle{
    padding-left: 5%;
    font-size: 22px!important;
}
.ctitle1{
    padding-left: 6%;
    font-size: 22px!important;
}
.form2{
    background: white;
    padding: 35px;
    border-radius: 16px;

  /*  position: absolute;
    box-shadow: 2px 2px 2px grey;
    width: 50%;
    right: 0;*/
}
.formabsolute{
    position: absolute;
    top: 27%;
    z-index: 1;
    right: 10%;
    box-shadow: 1px 2px 7px 0px grey;
    width: 40%;
    border-radius: 16px;
}
.delete-quote-icon{
    color: red;
}
.qtyinput{
    border: 2px solid #e4e4e4;
    padding: 0px 10px;
}
.img_pl_2{
    padding-left: 10px!important;
}
.searchpopbox{
/*    margin-top: -67px;*/
/*    margin-left: 22px;*/
    width: 100%;
}
.top-60{
    top: 60%;
}
.pt-0{
    margin-top: 0px!important;
}
.btn-outline{
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 16px;
    margin: 0px 10px 10px 0px;
    padding: 5px 20px;
    border-radius: 8px;
}
.border-right{
    border-right: 1px solid rgba(233, 233, 233, 1);
}
/*PAGINATION START*/
a.btn-link.px-1.mx-2.btn-link_active {
    background: rgb(30 115 190);
    border-radius: 50%;
    padding: 3px 10px!important;
    color: white;
    border: 1px solid rgba(233, 233, 233, 1);
    margin-right: 3px !important;
    margin-left: 3px !important;
}
a.btn-link.px-1.mx-2 {
    border-radius: 50%;
    padding: 3px 10px!important;
    border: 1px solid rgba(233, 233, 233, 1);
    margin-right: 3px !important;
    margin-left: 3px !important;
}
a.btn-link.d-inline-flex.align-items-center {
    border-radius: 50%;
    padding: 3px 10px!important;
    border: 1px solid rgba(233, 233, 233, 1);
    margin-right: 3px !important;
    margin-left: 3px !important;
}
/*PAGINATION END*/

/*TYPES START*/
.prod-box{
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 30px;
}
.prod-type-inner{
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
}
#compareModel p{
    margin-bottom: 5px;
}
.pt-icon{
    margin-top: 4px;
    margin-left: 5px;
}
.pt_title{
    color: rgba(66, 66, 66, 1)!important;
}
.pt_title a{
    color: rgba(66, 66, 66, 1)!important;
}
.pt_btn_fs{
    font-size: 11px;
}
.text-black{
    color: black!important;
}
.pt_bor_btm{
    margin: 2px!important;
    border-bottom: 1px solid rgba(233, 233, 233, 1)!important;
    width: 100%!important;
    background-color:unset;
    border: 1!important;
    opacity: 1!important;
}
.proddetail_left p{
   color: rgba(120, 120, 120, 1);
   margin-bottom: 6px;
}
.proddetail_right p{
    color: black;
    margin-bottom: 6px;
}
.align-right{
    float: right;
}
.btn-outline-planbtn{
    border-radius: 16px;
    /*background: white;*/
    color: rgba(30, 115, 190, 1);
    border: 1px solid rgba(30, 115, 190, 1) !important;
}
.mr-1{
    margin-right: 10px;
}
.pr-0
{
    padding-right: 0px!important;
}
.pl-0{
    padding-left: 0px!important;
}
.fs-12{
    font-size: 12px;
}
.prodslidertab{
    color: rgba(66, 66, 66, 1);
}
.prod-slider .active{
    color: rgba(10, 132, 222, 1);
}
.pl-10{
    padding-left: 15px!important;
}
/*TYPES END*/

.hidden-xs{
    display: block;
}
.appright{
    float: right;
}
.contact_banner_icon{
    width: 25px;
}
.abtsliderp{
    margin-top: 10px;
    color: #dadada !important;
    font-family: "Poppins", sans-serif;
}
.deskhidden{
    display: none;
}
.cllientarrow{
    margin-top: -1rem!important;
}

.prodiimage{
    height: 300px;
    justify-content: center;
    display: flex;
}
.prodiimage img{
    height: 100%;
}

.prodDetailiimage{
/*    height: 350px;*/
    text-align: center;
}
.prodDetailiimage img{
     height: 315px;
}
.prodDetailiimage h3{
    text-align: left;
}
.marginmb{
    margin-bottom: 15px!important;
}
.docmodel{
    width: 550px;
}
.cmpimgcenter{
    height: 150px;
    display: flex;
    justify-content: center;
}
.brands-carousel .swiper-slide{
    margin: auto;
}

/*all product types list css */
.series_product_divs{
    display: inline-block;
    padding: 5px 10px;
}
.prodslidertab.active{
    color: rgba(10, 132, 222, 1);
}
.prodslidertab:hover{
    color: rgba(10, 132, 222, 1);
}

@media only screen and (max-width: 768px){
    .why_title{
        font-size: 18px;
    }
    .team_slider_div{
        width: 100%;
    }
    .mbcrossDiv{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .eventinnercontainer{
        padding-right: unset;
        padding-left: unset;
    }
    .cmpimgcenter{
        height: 50px;
        display: flex;
        justify-content: center;
    }
    .eventScrolldiv {
        max-height: unset; 
        overflow-y: unset;  
        padding-right: 15px;
        box-sizing: border-box;
    }
    .docmodel{
        width: 100%!important;
    }
    .pdcmp {
        padding: 0px 15px 0px 0px;
    }
    .cmp_img img{
        height: 50px;
    }
    .sliderhtmb {
        height: 230px;
    }
    .mbhidden{
        display: none!important;
    }
    .deskhidden{
        display: block;
    }
    .quotetext{
        font-size: 18px;
        line-height: 1.7143;
    }

    .mbrequest{
        padding: 8px 15px!important;
        position: absolute;
        right: 0;
        top: 3px;
    }
    .mbrequest button{
        border-radius: 8px!important;
    }
    .paddingl-5{
        padding-left: 0px!important;
    }
    .hidden-xs{
        display: none;
    }
    .textmb{
        font-size: 16px;
    }
    .mbcenter{
        text-align: center!important;
    }
    .mbbottom{
        margin-bottom: 30px!important;
    }
    .appright{
/*        float: left;*/
    }
    .application_blocks{
        display: block!important;
        text-align: center;
    }
    .cardicon{
        text-align: center;
    }
    .cardicon-abt{
        text-align: center;
        min-height: auto;
    }
    .eventimgdiv1{
        width: 100%;
        float: left;
    }
    .swiper-slide_event {
        display: block !important
    }
    .eventimgdiv2{
        width: 100%;
        float: left;
        padding: 0px 30px;
    }
    .slideshow {
        height: auto;
    }
    .formabsolute {
        position: relative;
         right: 0%; 
        box-shadow: 1px 2px 7px 0px grey;
        width: 90%;
        margin: 20px;
        padding: 10px;
        border-radius: 16px;
    }
    .mb-block{
        display: block!important;
    }
    .mbfonth{
        font-size: 16px!important;
    }
    .mbfontp{
        font-size: 10px!important;
        margin-bottom: 5px!important;
    }
    .contact_banner_icon{
        width: 12px;
    }
    .ctitle1{
        padding-left: 15px;
        margin-bottom: 15px!important;
    }
    .ctitle{
        padding-left: 0px;
        margin-bottom: 15px!important;
    }
    .mbpdcontact{
        padding: 10px;
    }
    .app_mb_center{
        text-align: center;
        display: block;
    }
    .textminht{
        min-height: auto;
    }
    .textminht_list{
        min-height: auto;
    }
    .banner-height {
        height: auto!important;
        padding-top: 15px!important;
    }
    .banner-height img{
        height: auto!important;
        object-fit:unset!important;
    }
    .banner_data {
        padding-top: 0px!important;
        margin-top: 0% !important;
        width: 100%;
/*        background: #00000045;*/
        font-size: 12px;
        color: white;
        left: 0% !important;
        top: 25px;
    }
    .banner_data h2{
        font-size: unset;
    }
    .banner_data p{
        font-size: unset;
    }
    .mbtextlimit{
        width: 90%;
        height: 45px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .mb-right0{
        padding-right: 0px!important;
    }
    .mbblock{
        display: block!important;
    }
    .footer-outerspace {
        padding-left: 50px;
        padding-right: 50px;
    }
    .shopping-cart .cart-table tbody td .remove-cart {
        position: relative;
         right: unset; 
        top: 1rem;
    }
    .prodiimage{
        height: auto;
    }
    .prodDetailiimage{
        height: auto;
    }
    .prodDetailiimage img{
        text-align: center;
        height: auto;
        width: 100%;
    }
    .marginmb{
        margin-bottom: 30px!important;
    }
    .mbtopmain{
        padding-top: 20px!important;
    }

}

@media (min-width: 992px) {
    .section-title {
        font-size: 1.8rem; 
    } 
    
}

@media only screen and (max-device-width: 811px) and (max-device-width: 510px) and (orientation: portrait) {
    /* Your CSS rules for portrait mode */
    .formabsolute {
        top: 7%!important;
    }
    .mbrequest{
        padding: 8px 15px!important;
        position: absolute;
        right: 0;
        top: 3px;
    }
    .mbrequest button{
        border-radius: 8px!important;
    }

}


@media only screen and (min-device-width: 768px) and (max-device-width: 820px) and (orientation: portrait) {
    /* Your CSS rules for portrait mode */
    .formabsolute {
        top: 7%!important;
    }
    .marginmb{
        margin-bottom: 30px!important;
    }
}
/* iPad Air in landscape orientation */
@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape) {
    /* Your CSS rules for landscape mode */

    .formabsolute {
        top: 7%!important;
    }
    .mbrequest{
        padding: 8px 15px!important;
        position: absolute;
        right: 0;
        top: 3px;
    }
    .mbrequest button{
        border-radius: 8px!important;
    }

  }

@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait),
       only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .formabsolute {
        top: 7%!important;
    }
    .mbrequest{
        padding: 8px 15px!important;
        position: absolute;
        right: 0;
        top: 3px;
    }
    .mbrequest button{
        border-radius: 8px!important;
    }
    .marginmb{
        margin-bottom: 30px!important;
    }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape),
       only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    
    .formabsolute {
        top: 12%!important;
    }
    .mbrequest{
        padding: 8px 15px!important;
        position: absolute;
        right: 0;
        top: 3px;
    }
    .mbrequest button{
        border-radius: 8px!important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait),
       only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
     .formabsolute {
        top: 10%!important;
    }
    .mbrequest{
        padding: 8px 15px!important;
        position: absolute;
        right: 0;
        top: 3px;
    }
    .mbrequest button{
        border-radius: 8px!important;
    }
}

@media (max-width: 1192px) {
    .mb-5 {
        margin-bottom: 0rem !important;
    }
    .pb-xl-3 {
        padding-bottom: 6rem !important;
    }
}
@media (min-width: 1200px) {
    .pb-xl-5 {
        padding-bottom: 3rem !important;
    }
}